<% content_for :header_tags do%>
  <%= stylesheet_link_tag('issue_history_tabs.css', :plugin => :redmine_issue_history) %>
<%end%>

<% tabs = [ {:label => :label_history_tab_all, :name => 'history-all'},
	          {:label => :label_history_tab_comments, :name => 'history-comments'} ] %> 
<% selected_tab = 'history-all' %>

<div class="tabs">
  <ul>
    <% tabs.each do |tab| -%>
        <li><%= link_to l(tab[:label]), "javascript:void(0);",
                                        :id => "tab-#{tab[:name]}",
                                        :class => (tab[:name] != selected_tab ? nil : 'selected')%></li>
    <% end -%>
  </ul>
</div>
<% reply_links = authorize_for('issues', 'edit') -%>
<% for journal in journals %>
  <% if selected_tab == 'history-all' || journal.css_classes == 'journal has-notes'%>
    <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
      <h4><%= link_to "##{journal.indice}", {:anchor => "note-#{journal.indice}"}, :class => "journal-link" %>
      <%= avatar(journal.user, :size => "24") %>
      <%= content_tag('a', '', :name => "note-#{journal.indice}")%>
      <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %></h4>

      <% if journal.details.any? %>
        <ul class="details">
          <% details_to_strings(journal.details).each do |string| %>
           <li><%= string %></li>
          <% end %>
        </ul>
      <% end %>
      <%= render_notes(issue, journal, :reply_links => reply_links) unless journal.notes.blank? %>
    </div>
    <%= call_hook(:view_issues_history_journal_bottom, { :journal => journal }) %>  
  <% end %>
<% end %>

<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>
